.forest{
   -fx-background-color: transparent;
   -fx-graphic: url('forestCover.png');
   -fx-cursor: hand
}

.snow{
   -fx-background-color: transparent;
   -fx-graphic: url('snowCover.png');
   -fx-cursor: hand
}