
.Ca{
    -fx-background-color: transparent;
    -fx-graphic: url('captainAmericaLeaderDarkButton.png');
    -fx-cursor: hand
}

.Ca:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('captainAmericaLeaderGlowButton.png');
    -fx-cursor: hand
}

.Ca:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('captainAmericaLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                      DEADPOOL                  */

.De{
    -fx-background-color: transparent;
    -fx-graphic: url('deadpoolLeaderDarkButton.png');
    -fx-cursor: hand
}

.De:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('deadpoolLeaderGlowButton.png');
    -fx-cursor: hand
}

.De:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('deadpoolLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                  DOCTOR STRANGE                  */

.Dr{
    -fx-background-color: transparent;
    -fx-graphic: url('doctorStrangeLeaderDarkButton.png');
    -fx-cursor: hand
}

.Dr:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('doctorStrangeLeaderGlowButton.png');
    -fx-cursor: hand
}

.Dr:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('doctorStrangeLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                      ELECTRO                  */

.El{
    -fx-background-color: transparent;
    -fx-graphic: url('electroLeaderDarkButton.png');
    -fx-cursor: hand
}

.El:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('electroLeaderGlowButton.png');
    -fx-cursor: hand
}

.El:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('electroLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    GHOST RIDER                  */

.Gh{
    -fx-background-color: transparent;
    -fx-graphic: url('ghostRiderLeaderDarkButton.png');
    -fx-cursor: hand
}

.Gh:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('ghostRiderLeaderGlowButton.png');
    -fx-cursor: hand
}

.Gh:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('ghostRiderLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                      HELA                  */

.He{
    -fx-background-color: transparent;
    -fx-graphic: url('helaLeaderDarkButton.png');
    -fx-cursor: hand
}

.He:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('helaLeaderGlowButton.png');
    -fx-cursor: hand
}

.He:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('helaLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                      HULK                  */

.Hu{
    -fx-background-color: transparent;
    -fx-graphic: url('hulkLeaderDarkButton.png');
    -fx-cursor: hand
}

.Hu:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('hulkLeaderGlowButton.png');
    -fx-cursor: hand
}

.Hu:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('hulkLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                     ICEMAN                  */

.Ic{
    -fx-background-color: transparent;
    -fx-graphic: url('icemanLeaderDarkButton.png');
    -fx-cursor: hand
}

.Ic:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('icemanLeaderGlowButton.png');
    -fx-cursor: hand
}

.Ic:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('icemanLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    IRONMAN                  */

.Ir{
    -fx-background-color: transparent;
    -fx-graphic: url('ironmanLeaderDarkButton.png');
    -fx-cursor: hand
}

.Ir:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('ironmanLeaderGlowButton.png');
    -fx-cursor: hand
}

.Ir:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('ironmanLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    LOKI                  */

.Lo{
    -fx-background-color: transparent;
    -fx-graphic: url('lokiLeaderDarkButton.png');
    -fx-cursor: hand
}

.Lo:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('lokiLeaderGlowButton.png');
    -fx-cursor: hand
}
.Lo:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('lokiLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                  QUICKSILVER                  */

.Qu{
    -fx-background-color: transparent;
    -fx-graphic: url('quicksilverLeaderDarkButton.png');
    -fx-cursor: hand
}

.Qu:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('quicksilverLeaderGlowButton.png');
    -fx-cursor: hand
}

.Qu:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('quicksilverLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    SPIDERMAN                  */

.Sp{
    -fx-background-color: transparent;
    -fx-graphic: url('spidermanLeaderDarkButton.png');
    -fx-cursor: hand
}

.Sp:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('spidermanLeaderGlowButton.png');
    -fx-cursor: hand
}

.Sp:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('spidermanLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    THOR                  */

.Th{
    -fx-background-color: transparent;
    -fx-graphic: url('thorLeaderDarkButton.png');
    -fx-cursor: hand
}

.Th:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('thorLeaderGlowButton.png');
    -fx-cursor: hand
}

.Th:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('thorLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                    VENOM                  */

.Ve{
    -fx-background-color: transparent;
    -fx-graphic: url('venomLeaderDarkButton.png');
    -fx-cursor: hand
}

.Ve:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('venomLeaderGlowButton.png');
    -fx-cursor: hand
}

.Ve:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('venomLeaderDarkButton.png');
    -fx-cursor: hand
}

/*                YELLOW JACKET               */

.Ye{
    -fx-background-color: transparent;
    -fx-graphic: url('yellowJacketLeaderDarkButton.png');
    -fx-cursor: hand
}

.Ye:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('yellowJacketLeaderGlowButton.png');
    -fx-cursor: hand
}

.Ye:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('yellowJacketLeaderDarkButton.png');
    -fx-cursor: hand
}


/*
.button:hover {
     -fx-graphic: url('spiderlight.png');
} */

/*.button:pressed {
    -fx-graphic: url('captainAmericaButton.png');
}*/
