.shiny-green .bar{
    -fx-background-color:

        linear-gradient(#1ce362 20%, #4db262  100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));

    -fx-background-radius: 30;

}

.shiny-green .track{
    -fx-background-radius: 30;


}.shiny-blue .bar{
       -fx-background-color: linear-gradient(#03c5df 20%, #54aed8 100%),
                             linear-gradient(from 0% 0% to 30% 50%, rgba(255,255,255,0.7), rgba(255,255,255,0));

        -fx-background-radius: 30;
        -fx-padding: 7 30 7 30;
        -fx-text-fill: #242d35;
        -fx-font-family: "Helvetica";
        -fx-font-size: 12px;
        -fx-text-fill: white;

}

.shiny-blue .track{
    -fx-background-radius: 30;
}

.shiny-orange .bar {
    -fx-background-color:
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));

    -fx-background-radius: 30;
}

.shiny-orange .track{

        -fx-background-radius: 30;
}



.shiny-red .bar {

    -fx-background-color:
        linear-gradient(#E44E4F 20%, #DD2223 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));

    -fx-background-radius: 30;
}

.shiny-red .track{

        -fx-background-radius: 30;
}

.shiny-white .bar {

    -fx-background-color:
        linear-gradient(#F0EEED 20%, #E8E2E2 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));

    -fx-background-radius: 30;
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 3, .05, 0.0, 0.0);
}

.shiny-white .track{

        -fx-background-radius: 30;
        -fx-background-color:
              linear-gradient(#646464 20%, #646464 100%),
              linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));

}


