
.Ca{
   -fx-background-color: transparent;
   -fx-graphic: url('captainAmericaSideIcon.png');
   -fx-cursor: hand
}

.Ca:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('captainAmericaSideIconGlow.png');
   -fx-cursor: hand
}


/*                      DEADPOOL                  */

.De{
   -fx-background-color: transparent;
   -fx-graphic: url('deadpoolSideIcon.png');
   -fx-cursor: hand
}

.De:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('deadpoolSideIconGlow.png');
   -fx-cursor: hand
}

/*                  DOCTOR STRANGE                  */

.Dr{
   -fx-background-color: transparent;
   -fx-graphic: url('doctorStrangeSideIcon.png');
   -fx-cursor: hand
}

.Dr:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('doctorStrangeSideIconGlow.png');
   -fx-cursor: hand
}

/*                      ELECTRO                  */

.El{
   -fx-background-color: transparent;
   -fx-graphic: url('electroSideIcon.png');
   -fx-cursor: hand
}

.El:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('electroSideIconGlow.png');
   -fx-cursor: hand
}


/*                    GHOST RIDER                  */

.Gh{
   -fx-background-color: transparent;
   -fx-graphic: url('ghostRiderSideIcon.png');
   -fx-cursor: hand
}

.Gh:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('ghostRiderSideIconGlow.png');
   -fx-cursor: hand
}
/*                      HELA                  */

.He{
   -fx-background-color: transparent;
   -fx-graphic: url('helaSideIcon.png');
   -fx-cursor: hand
}

.He:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('helaSideIconGlow.png');
   -fx-cursor: hand
}
/*                      HULK                  */

.Hu{
   -fx-background-color: transparent;
   -fx-graphic: url('hulkSideIcon.png');
   -fx-cursor: hand
}

.Hu:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('hulkSideIconGlow.png');
   -fx-cursor: hand
}
/*                     ICEMAN                  */

.Ic{
   -fx-background-color: transparent;
   -fx-graphic: url('icemanSideIcon.png');
   -fx-cursor: hand
}

.Ic:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('icemanSideIconGlow.png');
   -fx-cursor: hand
}
/*                    IRONMAN                  */

.Ir{
   -fx-background-color: transparent;
   -fx-graphic: url('ironmanSideIcon.png');
   -fx-cursor: hand
}

.Ir:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('ironmanSideIconGlow.png');
   -fx-cursor: hand
}


/*                    LOKI                  */

.Lo{
   -fx-background-color: transparent;
   -fx-graphic: url('lokiSideIcon.png');
   -fx-cursor: hand
}

.Lo:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('lokiSideIconGlow.png');
   -fx-cursor: hand
}


/*                  QUICKSILVER                  */

.Qu{
   -fx-background-color: transparent;
   -fx-graphic: url('quicksilverSideIcon.png');
   -fx-cursor: hand
}

.Qu:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('quicksilverSideIconGlow.png');
   -fx-cursor: hand
}



/*                    SPIDERMAN                  */

.Sp{
   -fx-background-color: transparent;
   -fx-graphic: url('spidermanSideIcon.png');
   -fx-cursor: hand
}

.Sp:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('spidermanSideIconGlow.png');
   -fx-cursor: hand
}
/*                    THOR                  */

.Th{
   -fx-background-color: transparent;
   -fx-graphic: url('thorSideIcon.png');
   -fx-cursor: hand
}

.Th:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('thorSideIconGlow.png');
   -fx-cursor: hand
}

/*                    VENOM                  */

.Ve{
   -fx-background-color: transparent;
   -fx-graphic: url('venomSideIcon.png');
   -fx-cursor: hand
}

.Ve:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('venomSideIconGlow.png');
   -fx-cursor: hand
}

/*                YELLOW JACKET               */

.Ye{
   -fx-background-color: transparent;
   -fx-graphic: url('yellowJacketSideIcon.png');
   -fx-cursor: hand
}

.Ye:hover{
   -fx-background-color: transparent;
   -fx-graphic: url('yellowJacketSideIconGlow.png');
   -fx-cursor: hand
}




