.attack{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/attack-btn.png');
     -fx-cursor: hand;
}

.attack:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/attack-btn-hover.png');
     -fx-cursor: hand;
}

.attack:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/attack-btn.png');
     -fx-cursor: hand;
}


.move{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/move-btn.png');
     -fx-cursor: hand;
}

.move:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/move-btn-hover.png');
     -fx-cursor: hand;
}

.move:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/move-btn.png');
     -fx-cursor: hand;
}


.end{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/endturn-btn.png');
     -fx-cursor: hand;
}

.end:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/endturn-btn-hover.png');
     -fx-cursor: hand;
}

.end:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/endturn-btn.png');
     -fx-cursor: hand;
}

.leader{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/leader-btn.png');
     -fx-cursor: hand;
}

.leader:hover{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/leader-btn-hover.png');
     -fx-cursor: hand;
}

.leader:pressed{
    -fx-background-color: transparent;
    -fx-graphic: url('../btn_imgs/leader-btn.png');
     -fx-cursor: hand;
}